.navItem {
    /* margin-left: 50px; */
}

.navbarContainer {
    position: fixed;
    top: 0;
    z-index: -999;

}

.nav-btn {
    padding: 6px 15px;
    border-radius: 10px;
    background-color: #a65248;
    color: white;
    border: 1px solid rgb(238, 224, 224);
}