.banner-row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.banner-text h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Lora', serif;
}

.banner-icon {
    display: flex;
}

.banner-icon img {
    width: 30px;
}

.banner-icon li {
    list-style: none;
    margin: 20px 0;
}

.banner-icon li a {
    margin-right: 15px;
}

.banner-button {
    display: flex;
    margin: 20px 0;


}

.banner-button>button {
    margin-right: 20px;
    padding: 6px 25px;
    border-radius: 10px;
    background-color: #a65248;
    color: white;
    border: 1px solid rgb(185, 178, 178);

}

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
}